################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeBuddy.Api/CodeBuddy.Api/CodeBuddy.db-shm
